#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-390px * 5)); } /* (CardWidth + Gap) * OriginalStepCount */
}

.carousel-track {
  animation: scroll 30s linear infinite;
  display: flex;
}

/* This allows users to read a card by hovering or holding their finger on it */
.carousel-track:hover, 
.carousel-track:active {
  animation-play-state: paused;
}

/* Add this to your App.css */
.journey-container::-webkit-scrollbar {
  display: none;
}

.journey-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
